<h1>
  Conversor
  <small>Angular 5</small>
</h1>


<div class="well well-lg">
  <h2>Convertir</h2>
  <div>
    <form name="convertirForm" role="form">
      <fieldset>
        <div class="form-group">
          <label for="titulo">Millas</label>
          <input name="millas" class="form-control" [(ngModel)]="conversor.millas" required="true" ng-pattern="/^[0-9]+$/" placeholder="Ingrese la cantidad de millas"
            autofocus="autofocus">
        </div>
        <div class="form-group">
          <label for="kilometros">Kilometros</label>
          <p class="lead" data-ng-show="convertirForm.millas.$valid">{{conversor.kilometros}}</p>
        </div>
        <button type="submit" class="btn btn-primary" (click)="conversor.convertir()">Convertir</button>

        <div ng-show="convertirForm.millas.$dirty && convertirForm.millas.$invalid">
          <br>
          <!--<div class="alert alert-danger">
						Error:
					      <span *ngShow="convertirForm.millas.$error.required">Ingresar millas!</span>
					      <span *ngShow="convertirForm.millas.$error.pattern">Formato debe ser numerico</span>
					    </div>-->
        </div>
      </fieldset>
    </form>
  </div>
</div>