<h2>Listado de pokemons</h2>
<hr>
<div class="row">
  <div class="col-md-4" *ngFor="let p of pokemon" style="text-align: center;">
    <mat-card>
      <div class="panel-heading">
        <b>#{{ p.id }} - {{ p.name|capitalize }} </b>
      </div>
      <a [routerLink]="['/pokemon',p.id]">
        <img [hidden]="!p.imageLoaded" class="pokedex-pokemon-sprite" (load)="p.imageLoaded = true" [src]="p.sprite">
      </a>
    </mat-card>
    <br>
  </div>
</div>

<button class="load-button" (click)="loadMore()" [disabled]="isLoading">
  <span *ngIf="!error">
    <span *ngIf="isLoading">Buscando...</span>
    <span *ngIf="!isLoading">Buscar</span>
  </span>
  <span *ngIf="error">
    Error en la POKEAPI -_-
  </span>
</button>