<h2>Listado de pokemons</h2>
<hr>
<div class="row">
  <div class="col-md-4" *ngFor="let p of pokemon" style="text-align: center;">
    <mat-card appAppHightlight>
      <div class="panel-heading">
        <b>#{{ p.id }} - {{ p.name|capitalize }} </b>
      </div>
      <a [routerLink]="['/pokemon',p.id]">
        <img [hidden]="!p.imageLoaded" class=" .img-circle pokedex-pokemon-sprite" (load)="p.imageLoaded = true" [src]="p.sprite">
      </a>
    </mat-card>
    <br>
  </div>
</div>

<div style="text-align: -webkit-center;">
  <button mat-raised-button color="warn" (click)="loadMore()" [disabled]="isLoading" >
    <span *ngIf="!error">
      <span *ngIf="isLoading">
        <b>Buscando...</b>
      </span>
      <span *ngIf="!isLoading">
        <b>Buscar Pokemons </b>
      </span>
    </span>
    <span *ngIf="error">
      Error en la POKEAPI -_-
    </span>
  </button>
</div>