<mat-sidenav-container class="example-container" fullscreen>
    <mat-sidenav #sidenav class="example-sidenav">
        <br>
        <br>
        <br>
        <br>
        <mat-list>
            <mat-list-item>
                <img md-list-item routerLink="/home" src="../assets/img/pokemon-trainer.png" height="85em" alt="Logo">
            </mat-list-item>
            <br>
            <br>
            <br>
            <mat-list-item>
                <img md-list-item routerLink="/pokemones" src="../assets/img/abra.png" height="85em" alt="Logo">
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-toolbar class="example-toolbar">
        <button mat-icon-button (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
        </button>
        <img src="../assets/img/pokemonLogo.png" height="55em" alt="Logo">
        <span class="example-fill-remaining-space"></span>
        <!-- <form class="example-form">
            <mat-form-field>
                <input matInput placeholder="Buscar por nombre" value="">
            </mat-form-field>
        </form> -->
    </mat-toolbar>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>